.mainContainer{

    width: 500px;
    height: 570px;
    padding: 10px 10px 10px 15px;
}


  
  .card.flipped {
    transform: rotateY(180deg); /* Flips the card */
  }

.cardBox{
    width: '100px';
    height: '100px';
    perspective: '1000px'; /* Add perspective for the 3D flip effect*/
}
